body{
    background-color: rgb(25, 52, 77);
}

.todocontainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(39, 72, 88, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
    
  }
  
  .inputsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .inputsection h1 {
    margin-bottom: 10px;
    color: #888;
  }
  
  .inputsection input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li .fa-trash-can,
  li .fa-pencil {
    cursor: pointer;
    margin-left: 10px;
    color: #888;
  }
  
  li .fa-trash-can:hover,
  li .fa-pencil:hover {
    color: #333;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .editinput {
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #757c83;
  }
  
  .modal button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background: #0056b3;
  }
  .savebtn{
    background-color: #556d88;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
